{% extends 'base.html' %}

{% block head %}
  <!-- Bokeh resources -->
  {% if js_resources %}
    {{ js_resources |indent(4)|safe }}
    {{ css_resources|indent(4)|safe }}
    {{ plot_script  |indent(4)|safe }}
  {% endif %}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{# {% block header %}<h1>Dashboard</h1>{% endblock %} #}

{% block content %}
  <!-- Bokeh plot -->
  {% if plot_div %}
    {{ plot_div|indent(4)|safe }}
  {% endif %}

  {% if emptyDbMessage %}
    {{ emptyDbMessage }}
  {% endif %}

{% endblock %}